In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sns

In [3]:
df = pd.read_csv("SpamDataSet.csv", encoding='ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df = df.drop(["Unnamed: 2","Unnamed: 3", "Unnamed: 4"], axis=1)
df = df.rename(columns={"v1":"label","v2":"text"})
df['label'] = df.label.map({"ham": 0,"spam":1})
df.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [5]:
countVectorizer = CountVectorizer()
text = countVectorizer.fit_transform(df['text'])

In [6]:
x_train,x_test, y_train, y_test = train_test_split(text, df["label"], test_size=0.2, random_state=1 )

In [7]:
model = MultinomialNB()
model.fit(x_train, y_train)
model.predict(x_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [8]:
email1 = ["Check this out I will be giving 50% offer on your first purchase"]
email1 = countVectorizer.transform(email1).toarray()
if model.predict(email1):
    print("Spam email")
else:
    print("Not spam email")

Spam email

In [9]:
email2 = ["Great song Friend, it has really touched my heart"]
email2 = countVectorizer.transform(email2).toarray()
if model.predict(email2):
    print("Spam email")
else:
    print("Not spam email")

Not spam email