In [1]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Importing Dataset / Reading CSV File
df = pd.read_csv("DataSet.csv")
#Display Columns and 5 Rows
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [3]:
#Choosing Specific Columns From DataFrame
df = df[['Age','Fare','Sex','sibsp','Pclass','Embarked','2urvived']]
#Showing New DataFrame Values
df.head()
#Saving New Dataset in a CSV File
df.to_csv(r'NewDataSet.csv', index=False)

In [4]:
df.isnull().sum()
df['Embarked'].fillna(0, inplace=True)
df.isnull().sum()

Age         0
Fare        0
Sex         0
sibsp       0
Pclass      0
Embarked    0
2urvived    0
dtype: int64

In [5]:
df.corr()
df['Sex'].value_counts()

0    843
1    466
Name: Sex, dtype: int64

In [6]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.intercept_
model.coef_

AttributeError: 'LinearRegression' object has no attribute 'intercept_'

In [7]:
model.fit(df[['Age','Fare','Sex','sibsp','Pclass','Embarked']],df['2urvived'])
model.predict([[23,21,1,0,3,3.0]])

C:\Users\Ehtisham Ali\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.42076642])

In [8]:
import pickle

with open("model_file",'wb') as f:
    pickle.dump(model,f)

with open("model_file", 'rb') as f:
    md = pickle.load(f)

In [ ]:
md.predict([[18],[200],[1],[0],[2],[4.2]])